.my-component {
    height: 100%;
    width: 100%;
    background-color: #6A95C7;
    text-align: center;
}

.website-link {
    height: 90%;
    width: 100%;
}

.background-img {
    height: 100%;
    width: 100%;
}

.webLink {
    color: white;
    text-align: center;
}

.linkText {
    color: white;
}

iframe {
    height: 100%;
    width: 100%;
}

.linkMeet {
    color: white;
    font-size: 150%;
}

.backImg{
    background-image: url("../../MyComponent/img/header_map2.jpg");
    height: 90%;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;

}